<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhDemoNeo4JApp.department.home.title">Departments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-department" [routerLink]="['/department/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhDemoNeo4JApp.department.home.createLabel">
            Create a new Department
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="departments?.length === 0">
        <span jhiTranslate="jhDemoNeo4JApp.department.home.notFound">No departments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="departments && departments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhDemoNeo4JApp.department.departmentName">Department Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhDemoNeo4JApp.department.location">Location</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departments ;trackBy: trackId">
                    <td><a [routerLink]="['/department', department.id, 'view']">{{ department.id }}</a></td>
                    <td>{{ department.departmentName }}</td>
                    <td>
                        <div *ngIf="department.location">
                            <a [routerLink]="['/location', department.location?.id, 'view']" >{{ department.location?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/department', department.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/department', department.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(department)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
