<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span jhiTranslate="jhDemoNeo4JApp.department.detail.title">Department</span> {{ department.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhDemoNeo4JApp.department.departmentName">Department Name</span></dt>
                <dd>
                    <span>{{ department.departmentName }}</span>
                </dd>
                <dt><span jhiTranslate="jhDemoNeo4JApp.department.location">Location</span></dt>
                <dd>
                    <div *ngIf="department.location">
                        <a [routerLink]="['/location', department.location?.id, 'view']">{{ department.location?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
